
/* register css */

.signup-form {
  border : 1px solid black;
  padding: 50px;
  border-radius:50px 0px 0px 50px


}

.text {
 
  text-align: left;
	font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:bolder;

}
.sub-heading
{
  text-align: left;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:25px;
  font-weight:lighter;
	color:black

}

.signup-form h4 {
	color:black;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	font-size:25px;
	margin: 0 0 5px;
	position: relative;
}

.signup-form .btn {        
	font-size: 15px;
	font-weight: bold;		
	min-width: -webkit-fill-available;
	outline: none !important;
}

/* login css */

.login-form {
  border : 1px solid black;
  padding: 50px;
  border-radius:50px 0px 0px 50px


}

.text {
 
  text-align: left;
   font-size: 12px;
	font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:bolder;

}
.sub-heading
{
  text-align: left;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:25px;
  font-weight:lighter;
	color:black

}

.login-form h4 {
	color:black;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	font-size:25px;
	margin: 0 0 5px;
	position: relative;
}

.login-form .btn {        
	font-size: 15px;
	font-weight: bold;		
	min-width: -webkit-fill-available;
	outline: none !important;
}

.text-style
{
	text-align: center;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	font-size:13px;
	color:rgb(207, 23, 23);
}

/* collegelist css*/
.collegelist h4{
	    color:black;
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		font-weight: bold;
		font-size:18px;
		margin: 0 0 5px;
		position: relative;
		float:left
}
.collegelist span{
	color:rgb(207, 23, 23);
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	margin: 0 0 5px;
	position: relative;
	float:left;
	font-size: 12px;
}
.collegelist .desp{

	font-family:Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	margin: 0 0 5px;
	position: relative;
	font-size:12px;

}
.collegelist h6{
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	margin: 0 0 5px;
	position: relative;
	font-size: 15px;
}
.searchbox
{
	width:50%;
}

.display{
    display:block;
}

/* table css*/
table {
    border: 1px solid black;
	width:100%;
	
}
 table th{
	 font-family:Verdana, Geneva, Tahoma, sans-serif;
	 font-size:15px;
	 text-align: left;
	
 }
 table td{
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:12px;
	font-weight:lighter;
	text-transform: capitalize;
	text-align: left;


}